* {
    margin: 0px;
    padding: 0px;
}

nav {
    background: rgba(229, 84, 115, 0.10);
    width: 1349px;
    height: 850px;
}

.banner-container {
    display: flex;
    align-items: center;
    padding: 0px 40px;
}

.banner-section {
    width: 708px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    margin-top: 32px;
}

.btn {
    color: #FFF;
    border-radius: 8px;
    background: #E55473;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px 43px;
    margin-top: 32px;
}

.banner-img {
    width: 600px;
    height: 800px;
    margin-top: 50px;
}

/* Our Featured Flowers Section */
.section-feature {
    padding: 0px 40px;
}

.Featured-title {
    margin-top: 120px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.Featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.img-setup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.img-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    text-align: center;
}

.image-1 {
    width: 310px;
    height: 428px;
    margin-top: 110px;

}

.img-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    text-align: center;
}

.image-2 {
    width: 370px;
    height: 370px;
    margin-top: 170px;

}

.img-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    text-align: center;
}

.image-3 {
    width: 314px;
    height: 471px;
    margin-top: 67px;
}

.img-name {
    color: #272727;
    margin-top: 30px;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}


/* Support section  */
.support {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 200px;
    margin-left: 40px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1270px;
    height: 320px;
    text-align: center;
}

.support-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin-top: 20px;
}

/* bonus section */
.bonus {
    background-color: #ded8d9;
    background-image: url('./Flower Asset/Rectangle\ 6.png');
    background-repeat: no-repeat;
    background-position: right 40px bottom;
    background-size: 400px;
    width: 1269px;
    height: 500px;
    margin-top: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 40px;
}

.title-2 {
    color: #E55473;
}


/* sign section */
.section-container {
    border-radius: 8px;
    background: rgba(199, 47, 80, 0.05);
    width: 1348px;
    height: 620px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 130px;
}

.sign-container {
    margin-top: 130px;
}

.sign-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.title {
    color: #E55473;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sign-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
}

.button {
    text-align: center;
}

.img-size {
    width: 318px;
    height: 420px;
    margin-top: 100px;
}

/* instagram section */
.insta-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 120px;
    margin-bottom: 24px;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.gallery {
    display: flex;
    gap: 24px;
    padding: 48px 40px;
}

.gallery-img {
    width: 302px;
    height: 400px;
}

/* subscribe */
.subscribe-container {
    background-image: url('./Flower Asset/Rectangle\ 9.png');
    width: 1280px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 100px;
}

.subscribe-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.subscribe {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.subscribe-input {
    width: 600px;
    height: 60px;
    border-radius: 8px;
    background: #FFF;
    margin-right: 10px;
    margin-left: 100px;
    padding-left: 20px;
}

.subscribe-center {
    text-align: center;
}

/* footer section */
.footer-container {
    width: 1348px;
    height: 400px;
    flex-shrink: 0;
    background: #111010;
    margin-top: 128px;
}

.footer-title {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 128px;
}

.footer-description {
    color: white;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
}

.footer {
    color: white;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 80px;
}